<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        考勤管理
        <small>考勤管理</small>
    </h1>
    <ol class="breadcrumb">

        <li class="active">考勤管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-12">           
            <form id="searchForm" class="searchForm">
                <div class="box box-solid collapsed-box">
                    <div class="box-header with-border">                     
                        <input type="text" name="SnoName" class="form-control pull-left input-wd-md" placeholder="学号">
                        <input type="text" name="CourseName" class="form-control pull-left input-wd-md" placeholder="课程名">
                        <div class="btn-group searchbtns">
                            <button type="button" class="btn btn-warning" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>
                            <button type="button" class="btn btn-default" id="btnClearSearch"><i class="fa fa-eraser"></i> 清除</button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->

                    <!-- /.box-body -->
                </div>
            </form>
            <!-- /.searchForm -->
            <div class="box box-solid">
                <div class="box-body">
                    <div class="btn-group" id="toolbar">
                        {{ if .canEdit}}
                        <button class="btn btn-info" href="javascript:;" onclick="DataExport()">
                            <i class="fa fa-plus"></i> 导出Excel</button>
                        {{end}}
                    </div>
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面内容结束 -->
</section>
<!-- /.content -->