<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        限时考勤
        <small>限时考勤</small>
    </h1>
    <ol class="breadcrumb">

        <li class="active">限时考勤</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-12">           
            <form id="searchForm" class="searchForm">
                <div class="box box-solid collapsed-box">

                    <!-- /.box-header -->

                    <!-- /.box-body -->
                </div>
            </form>
            <!-- /.searchForm -->
            <div class="box box-solid">
                <div class="box-body">
                    <div class="btn-group" id="toolbar">

                    </div>
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面内容结束 -->
</section>
<!-- /.content -->